<%
  const isMember = user.role === "MEMBER";
  const action = isMember ? "Gain Admin Access" : "Join the Club"
%>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= action %> | The Secret Club</title>
</head>
<body>
  <h1><%= action %></h1>
  <div class="form-container">
     <% if (locals.error) { %>
        <div class="alert">
          <h2>There was an error with your submission</h2>
          <ul class="error-list">
            <li>The passcode is invalid</li>
          </ul>
        </div>
      <% } %>
  </div>

  <form action="/upgrade-role" method="post">
    <div>
      <label for="passcode">Passcode</label>
      <input type="password" name="passcode" id="passcode">
    </div>

    <div>
      <button><%= action %></button>
    </div>
  </form>
</body>
</html>